/* .userinfo {
  display: flex;
  flex-direction: column;
  align-items: left;
} */

.userinfo {
  margin-left: 300rpx;
}

.userinfo-avatar {
  width: 100rpx;
  height: 100rpx;
  margin: 20rpx;
  border-radius: 50%;
}

.userinfo-nickname {
  color: #aaa;
}

.usermotto {
  margin-top: 200px;
}

.name-txt {
  margin-left: 20px;
}

.download-button {
  display: flex;
  margin-top: 50px;
  align-items: center;
}